.wrapper {
    // --layout-width: 1150px; // Phiên bản cũ
    --layout-width: 100%;
}
.container {
    max-width: var(--layout-width);
    // min-height: 1000px; // Chỉ dùng để test
    margin: 0 auto;
    margin-top: var(--g-header-height);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .sidebar {
        flex-shrink: 0;
        width: 356px;
    }

    .content {
        flex: 1 1 auto;
        display: flex;
        // justify-content: flex-end; // Phiên bản cũ
        justify-content: center;

        > * {
            flex-grow: 1;
        }
    }
}

@media (max-width: 1071px) {
    .container {
        .sidebar {
            width: 72px;
        }
    }
}
